@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
* i,
*::after i,
*::before i {
  content: "\f004";
  font-weight: bold;
  transition: color 2s ease-out;
}

html {
  font-size: 62.5%;
}

input {
  display: none;
}

::-webkit-scrollbar {
  transition: all 0.5s ease-in-out;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: #EAEDED;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9356DC, #FF79DA);
  transition: all 0.5s ease-in-out;
}

.btn {
  align-items: center;
  background-image: linear-gradient(174deg, #FF79DA 20%, #9356DC 80%);
  border: 0 solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 12px #636261;
  color: white;
  font-weight: 500;
  margin: 0 auto;
  padding: 1em 1.5em;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  box-shadow: 5px 5px 12px #e7e5df;
  transform: translateY(-0.2em);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-grad {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-45deg);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.spinner {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 200ms 4s forwards;
  transform-origin: top;
}
.spinner::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
header {
  background-color: white;
  box-shadow: 0 0 10px #EAEDED;
  display: flex;
  height: 4em;
  justify-content: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 800;
}
header a:last-child {
  animation: rotate-grad 20s infinite linear;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  background-size: 100%;
  background-repeat: repeat;
  font-family: "Shrikhand", cursive;
  font-size: 3.5rem;
  height: fit-content;
  margin-top: -0.2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
header i {
  color: black;
  left: 2em;
  position: absolute;
  top: 1.5em;
  transition: all 0.2s ease-in-out;
}
header i::after {
  color: #9356DC;
  content: "Accueil";
  font-family: "Roboto";
  left: 1.5em;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
header i:hover {
  color: #9356DC;
  transform: scale(1.1);
}
header i:hover::after {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 769px) {
  .header i:hover::after {
    opacity: 0;
    visibility: hidden;
  }
}
.footer {
  margin-top: auto;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 2em 2em 1em;
}
.footer-link {
  background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
  color: white;
  height: 1.5em;
  transition: all 0.3s ease-in-out;
}
.footer-link i {
  margin-right: 0.5em;
  color: white;
}
.footer-link:hover {
  background-size: 50% 100%;
}
.footer-link-logo {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 425px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-link-logo {
    padding-bottom: 1em;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
* i,
*::after i,
*::before i {
  content: "\f004";
  font-weight: bold;
  transition: color 2s ease-out;
}

html {
  font-size: 62.5%;
}

input {
  display: none;
}

::-webkit-scrollbar {
  transition: all 0.5s ease-in-out;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: #EAEDED;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9356DC, #FF79DA);
  transition: all 0.5s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.btn {
  align-items: center;
  background-image: linear-gradient(174deg, #FF79DA 20%, #9356DC 80%);
  border: 0 solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 12px #636261;
  color: white;
  font-weight: 500;
  margin: 0 auto;
  padding: 1em 1.5em;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  box-shadow: 5px 5px 12px #e7e5df;
  transform: translateY(-0.2em);
}

body {
  background-color: #D5DBDB;
}

#page-resto .banner img {
  width: 100%;
  height: 15em;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (min-width: 1440px) {
  #page-resto .banner img {
    display: block;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }
}
#page-resto .resto__title {
  margin-top: -2rem;
}
#page-resto .resto__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #EAEDED;
}
#page-resto .resto__title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
#page-resto .resto__title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
#page-resto .resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
#page-resto .resto-main {
  padding: 0 1rem;
  background-color: #EAEDED;
}
#page-resto .menus {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 1024px) {
  #page-resto .menus {
    grid-template-columns: 1fr;
  }
}
#page-resto .menus h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
#page-resto .menus h3::after {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  height: 0.25rem;
  width: 4rem;
  background-color: #99E2D0;
}
#page-resto .menus .menus__category {
  overflow: hidden;
}
#page-resto .menus .menus__category .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 2.5rem 0;
  box-shadow: 2px 1px 8px -3px #adaca7;
  animation: appear 1s;
  animation-fill-mode: both;
}
#page-resto .menus .menus__category .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menus .menus__category .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menus .menus__category .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menus .menus__category .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menus .menus__category .menu-item .menu-item__description {
  padding: 1.5rem;
  overflow: hidden;
}
#page-resto .menus .menus__category .menu-item .menu-item__description h4,
#page-resto .menus .menus__category .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#page-resto .menus .menus__category .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menus .menus__category .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menus .menus__category .menu-item:hover {
  cursor: pointer;
}
#page-resto .menus .menus__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menus .menus__category .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
#page-resto .order {
  height: 12vh;
  display: grid;
  place-items: center;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-grad {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-45deg);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.spinner {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 200ms 4s forwards;
  transform-origin: top;
}
.spinner::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}
* i,
*::after i,
*::before i {
  content: "\f004";
  font-weight: bold;
  transition: color 2s ease-out;
}

html {
  font-size: 62.5%;
}

input {
  display: none;
}

::-webkit-scrollbar {
  transition: all 0.5s ease-in-out;
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background-color: #EAEDED;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9356DC, #FF79DA);
  transition: all 0.5s ease-in-out;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
  background-color: white;
  width: 100%;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 800;
  font-size: 3rem;
}

h2 {
  font-weight: 900;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
}

.btn {
  align-items: center;
  background-image: linear-gradient(174deg, #FF79DA 20%, #9356DC 80%);
  border: 0 solid transparent;
  border-radius: 30px;
  box-shadow: 0px 0px 12px #636261;
  color: white;
  font-weight: 500;
  margin: 0 auto;
  padding: 1em 1.5em;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  box-shadow: 5px 5px 12px #e7e5df;
  transform: translateY(-0.2em);
}

.spinner {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 200ms 4s forwards;
  transform-origin: top;
}
.spinner::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.mainheader {
  position: relative;
  width: 100%;
  padding: 1rem 1rem 0.2rem 1rem;
  border-bottom: 2px solid #d5d5d5;
  text-align: center;
}

main .recherche {
  align-items: center;
  background-color: #D5DBDB;
  display: flex;
  justify-content: center;
  padding: 1em;
}
main .recherche-input {
  margin-left: 0.5em;
}
main .explore {
  background-color: #EAEDED;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5em 0;
  text-align: center;
}
main .explore-subtitle {
  font-size: 1em;
  padding: 1em 0 1.5em 0;
}
main .fonct {
  counter-reset: ope;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em 1em 0 1em;
}
main .fonct-title {
  width: 100%;
}
main .fonct ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
main .fonct-cards {
  display: flex;
  position: relative;
  flex-grow: 1;
  background-color: #e7e5df;
  border-radius: 20px;
  box-shadow: 0 5px 15px #adaca7;
  cursor: pointer;
  margin: 1em 0 0 0;
  padding: 1.5rem 2rem;
  transition: all 0.2s ease-in-out;
}
main .fonct-cards::before {
  align-items: center;
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  counter-increment: ope;
  content: counter(ope);
  display: flex;
  height: 1.5em;
  justify-content: center;
  padding: 0.3em;
  position: relative;
  right: 2.1em;
  width: 1.5em;
}
main .fonct-cards i {
  padding-right: 1em;
}
main .fonct-cards-title {
  color: #000;
}
main .fonct-cards:hover {
  background-color: #ff79da21;
  transform: scale(1.02);
}
main .fonct-cards:hover i {
  color: #9356DC;
}
main .restau {
  background-color: #EAEDED;
  margin: 2em 0 0 0;
  padding: 2em 0.5em 0 0.5em;
}
main .restau-title {
  width: 100%;
}
main .restau .card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 767px) {
  main .restau .card {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .restau-cards {
  border-radius: 15px;
  box-shadow: 0 5px 15px #adaca7;
  overflow: auto;
  margin: 2em 0.5em;
  position: relative;
  background-color: white;
  transition: all 0.2s ease-in-out;
}
main .restau-cards-new {
  background-color: #99E2D0;
  border-radius: 5px;
  color: #0cd6a4;
  padding: 0.5em;
  position: absolute;
  right: 1.5em;
  top: 1em;
  font-size: 15px;
}
main .restau-cards-img {
  width: 100%;
  height: 15em;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
main .restau-cards-title {
  color: black;
  margin: 0.5em 0 0 1em;
  text-decoration: none;
}
main .restau-cards-desc {
  color: black;
  margin: 0 0 0.5em 1.2em;
  text-decoration: none;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
main .restau-cards-desc::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
main .restau-cards-desc::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, #9356dc, #ff79da);
}
main .restau-cards-desc:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}
main .restau-cards:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 1024px) {
  .fonct {
    flex-direction: column;
    justify-content: center;
  }
  .fonct-cards {
    text-align: center;
  }
}
@media screen and (max-width: 769px) {
  .fonct-cards {
    padding: 1.5em 0 !important;
  }
  .fonct-cards::before {
    right: 0.7em !important;
  }

  .restau {
    flex-direction: column;
  }
  .restau-cards {
    max-width: 100% !important;
  }
  .restau-cards-img {
    height: 10em !important;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .fonct {
    flex-direction: row;
    align-items: center;
  }

  .restau {
    grid-template-columns: repeat(4, 1fr);
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes checked {
  0% {
    transform: rotateZ(100deg);
  }
  50% {
    transform: rotateZ(-50deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate-grad {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-45deg);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.spinner {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  opacity: 0.9;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: disappear 200ms 4s forwards;
  transform-origin: top;
}
.spinner::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid #9356DC;
  border-top: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 2;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.footer {
  margin-top: auto;
  align-items: center;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2em 2em 2em 1em;
}
.footer-link {
  background: linear-gradient(to top, #FF79DA 0%, #FF79DA 10%, transparent 10.01%) no-repeat center bottom/0 100%;
  color: white;
  height: 1.5em;
  transition: all 0.3s ease-in-out;
}
.footer-link i {
  margin-right: 0.5em;
  color: white;
}
.footer-link:hover {
  background-size: 50% 100%;
}
.footer-link-logo {
  font-family: "Shrikhand", cursive;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

@media screen and (max-width: 425px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
  .footer-link-logo {
    padding-bottom: 1em;
  }
}
header {
  background-color: white;
  box-shadow: 0 0 10px #EAEDED;
  display: flex;
  height: 4em;
  justify-content: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 800;
}
header a:last-child {
  animation: rotate-grad 20s infinite linear;
  background-image: linear-gradient(45deg, #9356DC, #FF79DA);
  background-size: 100%;
  background-repeat: repeat;
  font-family: "Shrikhand", cursive;
  font-size: 3.5rem;
  height: fit-content;
  margin-top: -0.2em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
header i {
  color: black;
  left: 2em;
  position: absolute;
  top: 1.5em;
  transition: all 0.2s ease-in-out;
}
header i::after {
  color: #9356DC;
  content: "Accueil";
  font-family: "Roboto";
  left: 1.5em;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
header i:hover {
  color: #9356DC;
  transform: scale(1.1);
}
header i:hover::after {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 769px) {
  .header i:hover::after {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=styles.css.map */
