@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
    i {
        content: "\f004";
        font-weight: bold;
        transition: color 2s ease-out;
    }
}

html {
    font-size: 62.5%; 
    
}

body {
  
    box-sizing:border-box;
    width: 100%;
    background: white;
       
}

h2 {
    color: black;
    font-size: 30px;
}

input {
    display: none;
}

::-webkit-scrollbar {
    transition: all .5s ease-in-out;
    width: .3em;
}
::-webkit-scrollbar-track {
    background-color: #EAEDED;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#9356DC, #FF79DA);
    transition: all .5s ease-in-out;
}