*{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Shrikhand', sans-serif;
    font-size: 30px;
}

h2{
    font-size: 25px;
    margin: 1em;
}

h3 {
    font-size: 20px;
    margin: 1em 0 1em 0;
}
