@import "../Utils/variables",
 "../Utils/animations",
  "../Utils/mixins",
  "../Utils/loader.scss",
  "../Utils/header.scss",
  "../Utils/footer.scss";
@import "../Base/reset", "../Base/typography";

@import "../Components/btn";


body {
    background-color: #D5DBDB;
  }
  
  #page-resto {
   
  
    .banner img {
        width: 100%;
        height: 15em;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        @media (min-width:$desktop) {
            display: block;
            width: 100%;
            height: 70vh;
            object-fit: cover;
            object-position: center;
        }    
    }
  
    .resto__title {
      margin-top: -2rem;
      h2 {
        font-family: "Shrikhand", "cursive";
        padding: 2rem 1rem;
        @include heart-animated;
        border-radius: 2rem 2rem 0 0;
        background-color: $bg-grey;
      }
    }
  
    .resto-main {
      padding: 0 1rem;
      background-color: $bg-grey;
     

    }
    .menus {
        
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      @media (max-width:$tablet) {
        grid-template-columns: 1fr;
      }
      h3 {
        
        
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin-bottom: 1rem;
        &::after {
          content: "";
          position: absolute;
          top: 2.5rem;
          left: 0;
          height: 0.25rem;
          width: 4rem;
          background-color: $tertiary;
        }
      }
      .menus__category {
        overflow: hidden;
       
       
        .menu-item {
         
          $numberOfItems: 3;
          @for $i from 1 through $numberOfItems {
            &:nth-child(#{$i}) {
              animation-delay: 100ms * $i;
            }
          }
          display: flex;
          background-color: white;
          border-radius: 1rem;
          overflow: hidden;
          margin: 2.5rem 0;
          @include box-shadow;
          animation: appear 1s;
          animation-fill-mode: both;
  
          .menu-item__price {
            margin-left: auto;
            font-weight: 900;
            padding: 1rem;
            display: flex;
            align-items: flex-end;
          }
          .menu-item__description {
            padding: 1.5rem;
            overflow: hidden;
            h4,
            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .menu-item__check {
            display: grid;
            place-items: center;
            flex-shrink: 0;
            $button-width: 4rem;
            border-radius: 0 1rem 1rem 0;
            background-color: $tertiary;
            margin-right: -1 * $button-width;
            width: $button-width;
            transition: margin-right 0.5s;
            i {
              $size: 2rem;
              display: grid;
              place-items: center;
              background: white;
              height: $size;
              width: $size;
              border-radius: 1rem;
              color: $tertiary;
            }
          }
          &:hover {
            cursor: pointer;
            .menu-item__check {
              margin-right: 0;
            }
            i {
              @include quarterspin;
              animation: quarterspin 0.5s ease-in-out;
            }
          }
        }
      }
    }
  
    .order {
      height: 12vh;
      display: grid;
      place-items: center;
      
    }
  }
