// couleurs
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow-color: #c4c3c0;
$alafrançaise:"images/restaurants/A la française-1.png";
$lapalette:src"images/restaurants/La Palette du gout-1.png";