// couleurs
$primary-color:#9356DC;
$primary: #9356DC;
$secondary-color: #FF79DA;
$secondary:#FF79DA;
$tertiary-color:#99E2D0;
$tertiary: #99E2D0;
$fourth:#0e8164;
$shadow-color: #e7e5df;
$shadow: #adaca7;

$bg-grey:#EAEDED;
$bg-grey-dark: #484e4e;
$bg-white:white;
$font-white: white;

// media queries
$tablet:  1024px;
$phone:  769px;
$desktop: 1440px;