// couleurs
$primary-color:#9356DC;
$primary: #9356DC;
$secondary-color: #FF79DA;
$secondary:#FF79DA;
$tertiary-color:#99E2D0;
$tertiary: #99E2D0;
$fourth:#0cd6a4;
$shadow-color: #e7e5df;
$shadow: #adaca7;

$bg-grey:#EAEDED;
$bg-grey-dark: #D5DBDB;
$bg-white:white;
$font-white: white;
$tuto-bullet-height: 1rem;
$breakpoint: 1000px;
$tablet:  1024px;
$phone:  769px;
$desktop:1025px;